@model IEnumerable<Ticket_Sales.Models.Types>
@{
    ViewData["Title"] = "Index";
     Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>List of ticket types</h1>
<a asp-controller="Types" asp-action="Add">Create type of tickets</a>
<div class="search-box col-6 align-content-center">
    <form asp-controller="Types" asp-action="Index" method="get">
        <span class="btn-group">
            <select asp-items="ViewBag.Locations" name="LocationId" id="locationId" class="form-control">
                <option disabled selected>---Select Location---</option>
            </select>
            <select asp-items="ViewBag.Events" name="eventId" id="eventId" class="form-control">
                <option disabled selected>---Select Event---</option>
            </select>
            <input class="p-2-4 btn btn-sm btn-info" type="submit" style="border-radius: 15px; margin-left: 10px; width:200px" value="Search" />
        </span>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Type ID</th>
            <th>Type Name</th>
            <th>Price</th>
            <th>City</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Type_Id</td>
                <td>@item.Type_Name</td>
                <td>@item.Price</td>
                <td>@item.LocationID</td>
                <td>@(item.events?.Event_Name ?? "No Event")</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Type_Id" class="btn btn-success">View</a> 
                    <a asp-action="Update" asp-route-id="@item.Type_Id" class="btn btn-success">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Type_Id" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        if ($("#locationId").val() == '0') {
            var productDefaultValue = "<option value='0'>--Select event--</option>";
            $("#eventId").html(productDefaultValue).show();
        }

        $("#locationId").change(function () {
            var selectedItemValue = $(this).val();

            var ddlEvents = $("#eventId");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetEventByLocationId", "Types")',
                data: { "id": selectedItemValue },
                success: function (data) {
                    ddlEvents.html('');
                    $.each(data, function (id, option) {
                        ddlEvents.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Found error to load product!!.');
                }
            });
        });
    });
</script>