@model IEnumerable<Ticket_Sales.Models.Types>
@{
    ViewData["Title"] = "Index";
     Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>List of ticket types</h1>
<a asp-controller="Types" asp-action="Add">Create type of tickets</a>
<table class="table">
    <thead>
        <tr>
            <th>Type ID</th>
            <th>Type Name</th>
            <th>Price</th>
            <th>City</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Type_Id</td>
                <td>@item.Type_Name</td>
                <td>@item.Price</td>
                <td>@item.LocationID</td>
                <td>@(item.events?.Event_Name ?? "No Event")</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Type_Id" class="btn btn-success">View</a> 
                    <a asp-action="Update" asp-route-id="@item.Type_Id" class="btn btn-success">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Type_Id" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
