@model List<Ticket_Sales.Models.OrderDetail>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Detail</h1>


<div class="container">
    <div class="row">

        <div class="col-md-10">

            <table class="table table-bordered table-hover" style="margin:30px; align-content:center">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Order</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EventId</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@item.OrderId</td>
                            <td>@item.TypeName</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>


    </div>
</div>