@model ShoppingCart
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutCheckout.cshtml";
}

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h2><b>@Model.EventName</b></h2></div>
                </div>
                <div class="row">                  
                    <div class="col"><h4><b>Loại vé</b></h4></div>
                </div>
            </div>
            @foreach(var item in Model.Types)
            {
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        @* <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div> *@
                        <div class="col">
                            <div class="row text-muted">@item.Type_Name</div>
                            
                        </div>
                        <div class="col">
                            <div class="row text-muted">@item.Price$ X @item.orderQuantity </div>
                        </div>
                        <div class="col">
                            <div class="row text-muted">@(item.Price * item.orderQuantity) </div>
                        </div>
                        
                            @if(item.orderQuantity < item.Quantity)
                            {
                                <div class="col">
                                    <form asp-action="Decrease" asp-controller="ShoppingCart" method="post">
                                        <input type="hidden" name="TypeID" value="@item.Type_Id" min="0" max="10" />
                                        <button type="submit" class="btn btn-primary btn-sm" style="border-radius:50px">-</button>
                                    </form>
                                </div>
                                <div class="col">   
                                    <form asp-action="Increase" asp-controller="ShoppingCart" method="post">
                                        <input type="hidden" name="TypeID" value="@item.Type_Id" min="0" max="10" />
                                        <button type="submit" class="btn btn-primary btn-sm" style="border-radius:50px">+</button>
                                    </form>
                                </div>
                            }
                            else 
                            {
                                <span style="border: 1px solid;padding: 4px 8px;color: red;border-radius: 5px;margin-right:4px">Out of stock </span>
                            }
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            @foreach(var item in Model.Types)
            {
                <div class="row">
                    <div class="col" style="padding-left:15px;">@item.Type_Name</div>
                    <div class="col text-right">@item.Price</div>
                </div>
            }
            <p></p>
            <div class="col">
                <div class="row text-muted"><img src="/layoutuser/images/header/icon_ticket.png" style="width:20px; height:20px"/>X @Model.Types.Sum( x => x.orderQuantity) </div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right" id="totalprice">@Model.Types.Sum(x => x.TotalPrice)$</div>
            </div>
            @if (@Model.Types.Sum(x => x.orderQuantity) > 0)
            {
                <a asp-action="Checkout"><button class="btn" style="background-color: black; color: white;">CHECKOUT - @Model.Types.Sum(x => x.TotalPrice)$</button></a>
            }
            else{
                <button class="btn" style="background-color: black; color: white;" disabled>CHECKOUT</button>
            }
            
        </div>
    </div>

</div>
<style>
    p.left-center{
        text-align: left ;
    }

    p.right-center {

        text-align: right;
        padding-left:20px
    }
</style>
